
<div class="page">
  <div class="intro__my">
      <div class="container">
          <div class="intro__inner">
              <h1 class="intro__suptitle">Арматура, Уголок, металлопрокат, профильные Трубы и Металлоконструкции в Молодечно</h1>
              <div class="intro__title">опт и<br>розница</div>
          </div>
      </div>
  </div>

  <section class="footer">
      <div class="container">
          <div class="section__header">
              <h2 class="section__suptitle__my">Металлопрокат в Молодечно</h2>
              <div class="section__title__my">Каталог</div>
          </div>
          <div class="services" id="catalog">
              <div class="services__item  services__item--border">
                  <img class="services__icon" src="assets/images/Catalog/profil'nye-truby.png" alt="">

                  <div class="services__title">профильная труба</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of profil[0][0]" >{{ item }} ({{ profil[0][1][profil[0][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

              <div class="services__item  services__item--border">
                  <img class="services__icon" src="assets/images/Catalog/profil'naya-truba.png" alt="">

                  <div class="services__title">профильная труба</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of profil[1][0]" >{{ item }} ({{ profil[1][1][profil[1][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

              <div class="services__item  services__item--border">
                  <img class="services__icon" src="assets/images/Catalog/profil'nye-truby.png" alt="">

                  <div class="services__title">профильная труба</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of profil[2][0]" >{{ item }} ({{ profil[2][1][profil[2][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

              <div class="section__header">
                  <div class="section__suptitle__my">А1: +375-29-656-10-46 ___ МТС: +375-29-556-10-45</div><br>
              </div>

              <div class="services__item  services__item--border">
                  <img class="services__icon" src="assets/images/Catalog/metallicheskij-list.png" alt="">

                  <div class="services__title">Лист металлический</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of db[1][0]" >{{ item }} ({{ db[1][1][db[1][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

              <div class="services__item  services__item--border">
                  <img class="services__icon" src="assets/images/Catalog/vodogazoprovodnaya-elektrosvarnaya-truba.png" alt="">
                  <div class="services__title">труба водогазопроводная и электросварная</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of db[2][0]" >{{ item }} ({{ db[2][1][db[2][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

              <div class="services__item  services__item--border">
                  <img class="services__icon" src="assets/images/Catalog/kvadrat.jpg" alt="">
                  <div class="services__title">квадрат</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of db[3][0]" >{{ item }} ({{ db[3][1][db[3][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

              <div class="section__header">
                  <div class="section__suptitle__my">г.Молодечно</div><br>
              </div>

              <div class="services__item">
                  <img class="services__icon" src="assets/images/Catalog/krug.png" alt="">

                  <div class="services__title">круг</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of db[4][0]" >{{ item }} ({{ db[4][1][db[4][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

              <div class="services__item">
                  <img class="services__icon" src="assets/images/Catalog/ugolok.png" alt="">

                  <div class="services__title">уголок</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of db[5][0]" >{{ item }} ({{ db[5][1][db[5][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

              <div class="services__item">
                  <img class="services__icon" src="assets/images/Catalog/armatura.png" alt="">

                  <div class="services__title">арматура</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of db[6][0]" >{{ item }} ({{ db[6][1][db[6][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

              <div class="section__header">
                  <div class="section__suptitle__my">ул.Дудко 4В</div><br>
              </div>

              <div class="services__item">
                  <img class="services__icon" src="assets/images/Catalog/zaglushki.png" alt="">

                  <div class="services__title">Заглушки</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of zaglushki[0][0]" >{{ item }} ({{ zaglushki[0][1][zaglushki[0][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

              <div class="services__item">
                  <img class="services__icon" src="assets/images/Catalog/zaglushki.png" alt="">

                  <div class="services__title">Заглушки</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of zaglushki[1][0]" >{{ item }} ({{ zaglushki[1][1][zaglushki[1][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

              <div class="services__item">
                  <img class="services__icon" src="assets/images/Catalog/metallicheskaya-polosa.jpg" alt="">

                  <div class="services__title">Полоса металлическая</div>
                  <ul>
                    Цены в скобках указаны за 1м экземпляра<br>
                    <li class="services__text" *ngFor="let item of db[8][0]" >{{ item }} ({{ db[8][1][db[8][0].indexOf(item)] }} р.)</li>
                  </ul>
              </div>

          </div>
          <div class="section__header">
              <div class="section__suptitle__my">А1: +375-29-656-10-46 ___ МТС: +375-29-556-10-45 ___ г.Молодечно ___ ул.Дудко 4В</div><br>
          </div>
      </div>
  </section>

  <div class="section__my__3" >
      <div class="container">
          <div class="section__header">
              <div class="section__title__my__2">-5% на выделенные позиции</div><br>
              <div class="section__title__my__2">цены на 15.12.2021</div>
          </div>
      </div>
  </div>

  <div class="statistics">
      <div class="container">
          <div class="stat">
              <div class="stat__item">
                  <div class="stat__count">44</div>
                  <div class="stat__text">размеров труб</div>
              </div>
              <div class="stat__item">
                  <div class="stat__count">7</div>
                  <div class="stat__text">размеров круга</div>
              </div>
              <div class="stat__item">
                  <div class="stat__count">6</div>
                  <div class="stat__text">размеров арматуры</div>
              </div>
              <div class="stat__item">
                  <div class="stat__count">8</div>
                  <div class="stat__text">размеров уголка</div>
              </div>
          </div>
      </div>
  </div>

  <section class="footer_my">
      <div class="container">
          <div class="services__my">
              <div class="services__item__my">
                  <h2 class="services__title__my">арматура, уголок, металлический квадрат, металлический круг,
                      профильная труба
                  </h2>

                  <h3 class="services__text__my">
                      Цена зависит от объема заказа и расстояния доставки, пожалуйста, уточняйте по указанным телефонам.<br>
                      Закажите прямо сейчас трубу в Молодечно с доставкой и по району
                      Для декорирования участка, постройки беседки, лестницы и других конструкций раньше использовали
                      древесные материалы, но благодаря своим характеристикам профильная труба «вытеснила» их из этой
                      области. Сегодня владельцы частных домов, строители все чаще отдают предпочтение именно
                      металлическим изделиям. Они позволяют сделать конструкцию прочной, долговечной, надежной.
                      И главное – цена на профильную трубу очень доступная.
                      В Частном предприятии Склад Металла вы можете купить профильные трубы по Молодечно и в пригороде.
                      Организация предоставляет профильные трубы высокого качества по оптовой и розничной цене.
                      Прямоугольные трубы изготавливаются из качественных металлов без брака.
                      Наши прямоугольные трубы служат долго и качественно.
                      Квадратные трубы правильного строения.
                  </h3>
              </div>
          </div>
      </div>
  </section>

  <div class="card">
      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/Catalog/kvadratnye_truby.jpg" alt="Квадратные трубы" title="Квадратные трубы">
              </div>
              <div class="card__text">
                  Профильные, квадратные и прямоугольные трубы делаются в Беларуси из высококачественных металлов и хранятся по
                  всем требованиям.
              </div>
          </div>
      </div>

      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/Catalog/kruglye_truby.jpg" alt="Круглые трубы" title="Круглые трубы">
              </div>
              <div class="card__text">
                  Круглые, водогазопроводные и электросварные трубы делаются в Беларуси по намеченным окружностям и соблюдая все
                  заводские требования.
              </div>
          </div>
      </div>

      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/Catalog/armatura-dlinnaya.jpg" alt="Арматура" title="Арматура">
              </div>
              <div class="card__text">
                  Арматура выливается из крепких металлов в Беларуси с размеренным ранее диаметром. В наличии есть длинная арматура.
              </div>
          </div>
      </div>
  </div>

  <div class="card">
      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/Catalog/ugolok-metallicheskij.jpg" alt="Уголок металлический" title="Уголок металлический">
              </div>
              <div class="card__text">
                  Металлический уголок гнется под углом 90 градусов с помощью специального станка, поддерживающего правильный
                  эталон. Купить можно уголок в Молодечно и пригороде.
              </div>
          </div>
      </div>

      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/Catalog/metallicheskij-krug.jpeg" alt="Металлический круг" title="Металлический круг">
              </div>
              <div class="card__text">
                  Круг из металла выливается в форму для заготовок круглой формы с удержанием оптимальной формы из
                  твердых и мягких металлов.
              </div>
          </div>
      </div>

      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/Catalog/metallicheskij_kvadrat.jpg" alt="Металлический квадрат" title="Металлический квадрат">
              </div>
              <div class="card__text">
                  Металлический квадрат создается при помощи квадратной формы из
                  металлов. Производство происходит в Беларуси с доставкой в Молодечно.
              </div>
          </div>
      </div>
  </div>

  <section class="footer_my">
      <div class="container">
          <div class="services__my">
              <div class="services__item__my">
                  <h2 class="services__title__my">
                      Качественный металл в Молодечно из благородных меаллов.
                  </h2>

                  <h3 class="services__text__my">
                      Качественные квадратные трубы высокого качества.
                      Круглые трубы в Молодечно.
                      Круглые высококачественные трубы в Молодечно
                      Электросварная труба высокого качества купить в Молодечно
                      Водогазопроводная трубы высокого качества купить в Молодечно
                      Металлический квадрат высокого качества купить в Молодечно
                      Металлический круг высокого качества в Молодечно
                      Уголок металлический высокого качества купить в Молодечно
                      Арматура высокого качества в Молодечно
                      Металлоконструкции высокого качества купить в Молодечно
                      Нарезать арматуру, трубы, арматуру, уголок металлический и металлоизделий
                      Доставка металлоизделий, арматуры, металлического уголка, металлического круга,
                      металлического квадрата по Молодечно и пригороду по низким ценам
                  </h3>
              </div>
          </div>
      </div>
  </section>
</div>

<footer class="footer" id="footer">
  <div class="container">
      <div class="footer__inner">
          <div class="footer__col">
              <div class="footer__logo">Склад металла</div>
              <div class="footer__text">Частное предприятие(ЧП) в Молодечно по продаже профильных, электросварных и водогазопроводных труб,
                   металлических уголка, арматуры, квадрата, круга, листа и швеллера
              </div>
          </div>
      </div>
      <div class="copyright">
          <a href="tel:+375296561046">A1: +375-29-656-10-46 </a>...
          <a href="tel:+375295561045">MTS: +375-29-556-10-45 </a>...
          г.Молодечно ... ул.Дудко 4В
      </div>

      <div class="div" style="margin: 0 auto; color: black; width: 100%; display: flex; justify-content: center;">Made by <a href="https://biznesir.com" style="color: rgb(61, 61, 61);">BizneSir</a>
      </div>
  </div>
</footer>
