

<div class="intro__my" id="intro">
  <div class="container">
      <div class="intro__inner">
          <h2 class="intro__suptitle__my">Арматура качественная</h2>
          <h3 class="intro__title__my">в складе металла</h3>
      </div>
  </div>
</div>

<div class="page">
  <section class="section__my__3" >
      <div class="container">
          <div class="section__header">
              <h1 class="section__title__my__2">Арматура, круг металлический и квадрат металлический в Молодечно на Складе металла</h1>
              <div class="section__text__my__2">Кроме арматуры у нас имеются квадрат металлический и круг металлический по
                  5.85 мп . Остальной каталог можно увсидеть по ссылке: <br> <a routerLink="/catalog" class="nav__link" uslugi="catalog" style="cursor: pointer; font-size: 42px; text-decoration: underline;">ЦЕНЫ</a>
              </div>
          </div>
      </div>
  </section>

  <div class="card">
      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/Catalog/metallicheskij-krug.jpeg" alt="изображение металлического круга" title="металлический круг">
              </div>
              <div class="card__text">металлический круг</div>
          </div>
      </div>

      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/Catalog/metallicheskij_kvadrat.jpg" alt="изображение металлического квадрата" title="металлический квадрат">
              </div>
              <div class="card__text">металлический квадрат</div>
          </div>
      </div>

      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/Catalog/armatura-dlinnaya.jpg" alt="изображение арматуры" title="арматура">
              </div>
              <div class="card__text">арматура</div>
          </div>
      </div>
      <br><br>
  </div>

  <div class="section__my__3" >
      <div class="container">
          <div class="section__header">
              <div class="section__text__my__2">
                  Наша фирма приглашает приобрести арматуру железную всевозможных классов:
                  арматура гладкая железная А1 (А240с, S240) и арматура рифленая железная А3
                  (А500с, S500). Арматура гладкая железная - это горячекатаные гладкие изделия,
                  а арматура рифленая железная - имеющие повторяющийся профиль (насечки). По
                  объемам арматура имеет возможность быть от 6 до 40 мм в поперечнике.

                  В случае если для вас необходима арматура железная для фундамента, стенок,
                  перекрытий и иных составляющих домов (сооружений), в нашем каталоге вы отыщете
                  оптимальную.
                  <br><br><br><br>
              </div>
          </div>
      </div>
  </div>
</div>

<footer class="footer" id="footer">
  <div class="container">
      <div class="footer__inner">
          <div class="footer__col">
              <div class="footer__logo">Склад металла</div>
              <div class="footer__text">Частное предприятие(ЧП) в Молодечно по продаже профильных, электросварных и водогазопроводных труб,
                   металлических уголка, арматуры, квадрата, круга, листа и швеллера
              </div>
          </div>
      </div>
      <div class="copyright">
          <a href="tel:+375296561046">A1: +375-29-656-10-46 </a>...
          <a href="tel:+375295561045">MTS: +375-29-556-10-45 </a>...
          г.Молодечно ... ул.Дудко 4В
      </div>


  <div class="div" style="margin: 0 auto; color: black; width: 100%; display: flex; justify-content: center;">Made by <a href="https://biznesir.com" style="color: rgb(61, 61, 61);">BizneSir</a></div>
  </div>
</footer>
