
<div class="intro__my" id="intro">
  <div class="container">
      <div class="intro__inner">
          <h2 class="intro__suptitle__my">Уголок железный и металлический</h2>
          <h3 class="intro__title__my">в складе металла</h3>
      </div>
  </div>
</div>

<div class="page">
  <section class="section__my__3" >
      <div class="container">
          <div class="section__header">
              <h1 class="section__title__my__2">Металлический уголок в Минский области</h1>
              <div class="section__text__my__2">Ознакомьтесь с факторами металлического уголка или перейдите по <a class="nav__link" uslugi="catalog">ссылке</a>.
              </div>
          </div>
      </div>
  </section>

  <div class="card">
      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/Catalog/ugolok-metallicheskij.jpg" alt="изображение металлического уголка" title="металлический уголок">
              </div>
              <div class="card__text">Уголок из стали</div>
          </div>
      </div>

      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/Uslugi/ugolok.jpg" alt="изображение металлического уголка" title="металлический уголок">
              </div>
              <div class="card__text">Металлический уголок</div>
          </div>
      </div>

      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/metall/ugolochek.jpg" alt="изображение металлического уголка" title="металлический уголок">
              </div>
              <div class="card__text">Уголок из металла</div>
          </div>
      </div>
      <br><br>
  </div>

  <div class="section__my__3" >
      <div class="container">
          <div class="section__header">
              <div class="section__text__my__2">
                  В первую очередь уголки железные используются при строительстве всевозможных металлоконструкций – осветительных мачт, каркасов быстросборных сооружений, строй лесов, выставочных щитов и павильонов и т.д. Еще они везде применяются:

                  в машино- и вагоностроении, для приготовления всевозможных подробностей и внутренних узлов;
                  при строительстве несущих опор эстакад, ж/д мостов и переездов, других инженерных сооружений;
                  при прокладке силовых кабелей, монтаже систем вентиляций и отопления;
                  в строительстве жилых жилищ, спортивных и промышленных объектов. Уголки неподменны при обустройстве перекрытий, оснований и т.д.;
                  для декоративной отделки фасадов домов.
                  В фирмы Склад Металла вы сможете приобрести уголки горячекатаные важных для вас объемов оптом и в розницу, по конкурентоспособным тарифам и в рассрочку. Мы продадим качественный металлопрокат как более нужных, например и редкостных типоразмеров. При надобности наши знатоки исполнят резку уголков в величина, обеспечат их доставку именно на стройплощадку или же всякий иной обозначенный вами объект.
<br><br><br><br>
              </div>
          </div>
      </div>
  </div>
</div>

<footer class="footer" id="footer">
  <div class="container">
      <div class="footer__inner">
          <div class="footer__col">
              <div class="footer__logo">Склад металла</div>
              <div class="footer__text">Частное предприятие(ЧП) в Молодечно по продаже профильных, электросварных и водогазопроводных труб,
                   металлических уголка, арматуры, квадрата, круга, листа и швеллера
              </div>
          </div>
      </div>
      <div class="copyright">
          <a href="tel:+375296561046">A1: +375-29-656-10-46 </a>...
          <a href="tel:+375295561045">MTS: +375-29-556-10-45 </a>...
          г.Молодечно ... ул.Дудко 4В
      </div>
      <div class="div" style="margin: 0 auto; color: black; width: 100%; display: flex; justify-content: center;">Made by <a href="https://biznesir.com" style="color: rgb(61, 61, 61);">BizneSir</a>
      </div>
  </div>
</footer>
