
<div class="intro__my" id="intro">
  <div class="container">
      <div class="intro__inner">
          <h2 class="intro__suptitle__my">профильные трубы</h2>
          <h3 class="intro__title__my">в молодечно</h3>
      </div>
  </div>
</div>

<div class="page">
  <section class="section__my__3" >
      <div class="container">
          <div class="section__header">
              <h1 class="section__title__my__2">Все о профильных трубах в Частном предприятии Склад Металла</h1>
              <div class="section__text__my__2">В нашем предприятии профильные трубы созданы из качественных сплавов и являются
                  адекватными по стоимости и цельности. Вы можете ознакомится с размерностями и ценами труб на этом сайте,
                  а также по <a class="nav__link" uslugi="catalog">ссылке</a>.
              </div>
          </div>
      </div>
  </section>
  <div class="card">
      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/metall/truba-vodogazoprovodnaya-i-elektrosvarnaya.png" alt="изображение водогазопроводных труб" title="водогазопроводные и электросварные трубы">
              </div>
              <div class="card__text">Водогазопроводная и электросварная трубы</div>
          </div>
      </div>

      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/metall/kvadratnye_truby.jpg" alt="изображение квадратныз труб" title="квадратные трубы">
              </div>
              <div class="card__text">Профильные трубы<br>
                  материалов</div>
          </div>
      </div>

      <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                  <img src="assets/images/metall/profil'naya-truba-pervaya.jpg" alt="изображение прямоугольных труб" title="квадратные трубы">
              </div>
              <div class="card__text">Квадратные трубы</div>
          </div>
      </div>
      <br><br>
  </div>

  <div class="section__my__3" >
      <div class="container">
          <div class="section__header">
              <div class="section__text__my__2">
                  Трубный металлопрокат — картина металлопроката, изготавливаемый способом
                  сварки листовой стали (электросварные трубы) или же прокатки болванок
                  (бесшовные трубы), представляющий собой полые изделия круглого, квадратного,
                  прямоугольного, округлого профиля.

Поперечник относительного прохода (DN, Ду) — относительная размер внутреннего поперечника труб в
миллиметрах или же округло в дюймах. Это главная размерная черта водогазопроводных и покрытых цинком труб,
соединительных частей к ним, фитингов и запорной арматуры.

Относительный проход приблизительно соответствует внутреннему поперечнику вещества трубопровода,
воплощенному в миллиметрах. Он не содержит единицы измерения и указывается, к примеру, как DN 100
или же Ду 100.

Поперечник внешний (Дн) — измеряется в миллиметрах и регламентируется действующими ГОСТами.

Поперечник внутренний (Дв) — измеряется в миллиметрах, и рассчитывается по формуле: Дв = Дн — 2хS. Где: S —
толщина стены в миллиметрах.

Внутренний поперечник труб (Дв) как правило не равен поперечнику относительного прохода (Ду). К примеру, у
труб с внешним поперечником 159 мм при толщине стены 8 мм настоящий внутренний поперечник оформляет 143 мм, а
при толщине стены 5 мм — 149 мм, впрочем в обоих случаях относительный проход принимается равным 150.
Как правило габариты темных и покрытых цинком водогазопроводных труб означают по внутренним поперечникам,
а других типов — по внешним.
Длина трубы — измеряется в метрах или же миллиметрах и находится в зависимости от поперечника трубы, метода
приготовления, завода-изготовителя.
<br><br><br><br>
              </div>
          </div>
      </div>
  </div>
</div>

<footer class="footer" id="footer">
  <div class="container">
      <div class="footer__inner">
          <div class="footer__col">
              <div class="footer__logo">Склад металла</div>
              <div class="footer__text">Частное предприятие(ЧП) в Молодечно по продаже профильных, электросварных и водогазопроводных труб,
                   металлических уголка, арматуры, квадрата, круга, листа и швеллера
              </div>
          </div>
      </div>
      <div class="copyright">
          <a href="tel:+375296561046">A1: +375-29-656-10-46 </a>...
          <a href="tel:+375295561045">MTS: +375-29-556-10-45 </a>...
          г.Молодечно ... ул.Дудко 4В
      </div>
  <div class="div" style="margin: 0 auto; color: black; width: 100%; display: flex; justify-content: center;">Made by <a href="https://biznesir.com" style="color: rgb(61, 61, 61);">BizneSir</a>
  </div>
  </div>
</footer>
