
<div class="intro__my" id="intro">
  <div class="container">
      <div class="intro__inner">
          <h2 class="intro__suptitle__my">Лист, полоса и круглые трубы</h2>
          <h3 class="intro__title__my">из металла</h3>
      </div>
  </div>
</div>

<div class="page">
      <section class="section__my__3" >
          <div class="container">
              <div class="section__header">
                  <h1 class="section__title__my__2">Металлические изделия и металлопрокат в Молодечно на Складе металла</h1>
                  <div class="section__text__my__2">Здесь вы можете ознакомится с нашими трубами круглого хвата,
                      металлическими листами и металлическими полосами, а также вы можете посмотреть остальную информацию о металле по ссылке: <br> <a routerLink="/catalog" class="nav__link" uslugi="catalog" style="cursor: pointer; font-size: 42px; text-decoration: underline;">ЦЕНЫ</a>
                  </div>
              </div>
          </div>
      </section>

      <div class="card">
          <div class="card__item">
              <div class="card__inner">
                  <div class="card__img">
                      <img src="assets/images/Uslugi/metallokonstrukcii.jpg" alt="изображение металлоконструкций" title="металлоконструкции">
                  </div>
                  <div class="card__text">металлоконструкции</div>
              </div>
          </div>

          <div class="card__item">
              <div class="card__inner">
                  <div class="card__img">
                      <img src="assets/images/Uslugi/armatura.jpg" alt="изображение арматуры" title="арматура">
                  </div>
                  <div class="card__text">арматура</div>
              </div>
          </div>

          <div class="card__item">
              <div class="card__inner">
                  <div class="card__img">
                      <img src="assets/images/Uslugi/ugolok.jpg" alt="изображение уголка" title="уголок">
                  </div>
                  <div class="card__text">уголок</div>
              </div>
          </div>
          <br><br>
      </div>

      <div class="section__my__3" >
          <div class="container">
              <div class="section__header">
                  <div class="section__text__my__2">
                        Частное предприятие "Склад Металла" предлагает своим клиентам широкий выбор универсального металлопроката. Этот вид металлопроката имеет множество преимуществ перед другими видами, так как он может использоваться в самых разных областях, начиная от строительства и заканчивая производством различных изделий.
                        <br>
                        В ассортименте нашей компании представлены такие виды универсального металлопроката, как уголки, швеллеры, трубы, полосы, листы и многое другое. Каждый из этих видов металлопроката обладает своими особенностями и преимуществами, что позволяет выбрать именно то решение, которое наилучшим образом подходит для вашего проекта или задачи.
                        <br>
                        Уголки – это металлические профили в форме буквы "L", которые широко используются в строительстве и металлообработке. Швеллеры – это профили в форме буквы "U", которые отлично подходят для использования в конструкциях, где необходимо выдерживать значительные нагрузки.
                      <br><br><br><br>
                  </div>
              </div>
          </div>
      </div>
</div>

<footer class="footer" id="footer">
  <div class="container">
      <div class="footer__inner">
          <div class="footer__col">
              <div class="footer__logo">Склад металла</div>
              <div class="footer__text">Частное предприятие(ЧП) в Молодечно по продаже профильных, электросварных и водогазопроводных труб,
                   металлических уголка, арматуры, квадрата, круга, листа и швеллера
              </div>
          </div>
      </div>
      <div class="copyright">
          <a href="tel:+375296561046">A1: +375-29-656-10-46 </a>...
          <a href="tel:+375295561045">MTS: +375-29-556-10-45 </a>...
          г.Молодечно ... ул.Дудко 4В
      </div>
  <div class="div" style="margin: 0 auto; color: black; width: 100%; display: flex; justify-content: center;">Made by <a href="https://biznesir.com" style="color: rgb(61, 61, 61);">BizneSir</a>
  </div>
  </div>
</footer>
