/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 !important;
  font-family: 'Montserrat', sans-serif;

  font-size: 15px;
  line-height: 1.6;
  color: #333;
  background-color:#333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;

  border: 0;
  background-color: #e5e5e5;
}


/* Page */
.page {
  overflow: hidden;
}


/* Container */
.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 0px;
  margin: 0 auto;
}

.container__my {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333;
}

/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 820px;
  position: relative;

  background: url("/assets/images/metall-list.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__my {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 820px;
  position: relative;

  background: url("/assets/images/metall_list_2.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;

  text-align: center;
}

.intro__title {
  color: #fff;
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.intro__title__my {
  color: #333;
  font-size: 50px;
  font-weight: 700;
  padding-left: 10%;
  padding-right: 10%;
  text-transform: uppercase;
  line-height: 1;
}

.intro__title__my__2 {
  color: #333;
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
.intro__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto;

  background-color: #fff;
}

.intro__suptitle {
  margin-bottom: 20px;

  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  color: #fff;
}

.intro__suptitle__my {
  margin-bottom: 20px;

  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  color: #333;
}



/* Header */
.header {
  width: 100%;
  padding-top: 30px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header.fixed {
  padding: 10px 0;

  background-color: #333333;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  transform: translate3d(0, 0, 0);
}

.header.active {
  background-color: #333333;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.logoSM {
  margin-left: 30px;
  width: 30px;
}

.header__text {
  font-size: 13px;
  color: #fff;
  position: static;
  text-align: left;
}


/* Nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: color .1s linear;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fce38a;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .1s linear;
}

.nav__link:hover {
  color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
  opacity: 1;
}

.nav__link.active {
  color: #fce38a;
}
/* Nav toggle */
.nav-toggle {
  width: 30px;
  padding: 10px 0;
  display: none;

  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;

  position: absolute;
  top: 14px;
  right: 24px;
  z-index: 1;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;

  background-color: #fff;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;

  background-color: #fff;

  position: absolute;
  left: 0;
  z-index: 1;

  transition: transform .2s linear;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(0px, 3px, 0);
}


/* Slider */
.slider {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  width: 23%;
  padding: 20px 0;
  position: relative;
  text-align: center;
  border-top: 3px solid #333;
  opacity: .7;

  font-size: 20px;
  color: #333;
  text-transform: uppercase;
}

.slider__num {
  font-size: 16px;
  font-weight: 700;
}

.white_back {
  background-color: white;
  color: #333;
}


/* Section */
.section {
  padding: 80px 0;
  background-color: #333;
}

.section__my {
  background-color: #fce38a;
}

.section__my__2 {
  padding: 0px 0;
  background-color: #fce38a;
}

.section__my__3 {
  background-color: #333;
}


.section--gray {
  background-color: #333333;
}

.section--map {
  padding: 40px 0;
  background: #e6e6e6 url("/assets/images/map-bg.jpg") center no-repeat cover;
}

.section__header {
  width: 100%;
  text-align: center;
}

.section__header__my {
  width: 100%;
  max-width: 950px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.section__suptitle {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color:white;
}

.section__title {
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.section__title__my {
  font-size: 50px;
  font-weight: 700;
  padding-left: 10%;
  padding-right: 10%;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.section__title__my__2 {
  font-size: 30px;
  font-weight: 700;
  color:#fce38a;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.section__title__my__3 {
  font-size: 25px;
  font-weight: 700;
  color:#333;
  padding-left: 10%;
  padding-right: 10%;
  text-transform: uppercase;
  text-align: center;
}


.section__suptitle__my {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color:#333;
}

.section__suptitle__my__2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color:white;
}

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto;

  background-color: #333333;
}

.section__text {
  font-size: 15px;
  color: #999;
}

.section__text__my {
  font-size: 15px;
  color: #333;
  padding-left: 10%;
  padding-right: 10%;
}
.section__text__my__2 {
  font-size: 15px;
  color: #fce38a;
  padding-left: 10%;
  padding-right: 10%;
}

/* Copyright */
.copyright {
  border-top: 1px solid #333;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #333;
  text-align: center;
}


/* Footer */
.footer {
  border-top: 1px solid #333;
  background-color: white;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__col {
  padding: 0 5px;
}


.footer__logo {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  color: #333;
}

.footer__text {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: black;
}


/* Card */
.card {
  margin: 40px 20px 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__item {
  width: 33.33333%;
  padding: 5px 5px 5px 5px;
}

.card__inner {
  position: relative;
  background-color: #fce38a;
}

.card__inner__my {
  position: relative;
  background-color:  #fce38a;
}

.card__inner:hover .card__img {
  transform: translate3d(-10px, -10px, 0);
}

.card__inner__my:hover .card__img__my {
  transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
  opacity: .1;
}

.card__inner__my:hover .card__img__my img{
  opacity: .1;
}

.card__inner:hover .card__text {
  opacity: 1;
}

.card__inner__my:hover .card__text {
  opacity: 1;
}

.card__img {
  background: linear-gradient(to bottom,  #fce38a, #333);

  transition: transform .2s linear;
}

.card__img__my {
  background: linear-gradient(to bottom,  #fce38a, #333);

  transition: transform .2s linear;
}

.card__img img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity .1s linear;
}

.card__img__my img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity .1s linear;
}

.card__text {
  width: 100%;

  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);

  transition: opacity .2s linear;
}

.card__info {
  margin-top: 20px;

  text-align: center;
}

.card__name {
  margin-bottom: 5px;

  font-size: 14px;
  color:  #fce38a;
  text-transform: uppercase;
}

.card__prof {
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  color: #999;
}



/* Statistics */
.statistics {
  background-color: #fce38a;
}

.statistic__my {
  background-color: #333;
}

.stat {
  display: flex;
  flex-wrap: wrap;
}

.stat__item {
  flex: 1 1 0;
  padding: 70px 25px;

  border-left: 1px solid #fce38a;

  text-align: center;
  color: #333;
}

.stat__item__my {
  flex: 1 1 0;
  padding: 70px 25px;

  border-left: 1px solid #fce38a;

  text-align: center;
  color: white;
}

.stat__item:last-child {
  border-right: 1px solid #fce38a;
}

.stat__count {
  margin-bottom: 10px;

  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}


/* Services */

.services {
  display: flex;
  flex-wrap: wrap;
}

.services__my {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.services__item {
  width: 33.33333%;
  padding: 0 35px 40px 85px;
  position: relative;
  margin-bottom: 40px;
}

.services__item__my {
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.services__item--border {
  border-bottom: 1px solid #e5e5e5;
}

.services__icon {
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 1;
  width: 60px;
}

.services__title {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

.services__text {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10%;
  color: black;
}

.services__title__my {
  font-size: 18px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.services__text__my {
  font-size: 14px;
  color: white;
}

/* Reviews */
.reviews {
  position: relative;
}

.reviews .slick-slider {
  padding: 0 110px;
}

.reviews__item {
  min-height: 210px;
  padding-left: 255px;
  position: relative;
}

.reviews__photo {
  display: block;
  width: 210px;
  height: 210px;

  border-radius: 50%;

  margin-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.reviews__text {
  margin-bottom: 15px;

  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #333;
}

.reviews__author {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  color: #333;
}

.reviews__author:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;

  background-color: #333;
}

/* Works */
.works {
  display: flex;
}

.works__col {
  flex: 1 1 0;
}

.works__item {
  position: relative;

  background: linear-gradient(to bottom, #333333, #222222);
}

.works__item:hover .works__image {
  opacity: .1;
}

.works__item:hover .works__info {
  opacity: 1;
}

.works__image {
  display: block;
  max-width: 100%;
  height: auto;

  transition: opacity .2s linear;
}

.works__info {
  width: 100%;
  padding: 0 15px;

  text-align: center;
  color: #fff;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  transform: translate3d(0, -50%, 0);
  transition: opacity .2s linear;
}

.works__title {
  margin-bottom: 5px;

  font-size: 16px;
  text-transform: uppercase;
}

.works__title__my {
  margin-bottom: 5px;

  font-size: 12px;
  text-transform: uppercase;
}

.works__text {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}


/* Map */

.map {
  text-align: center;
}

.map__title {
  font-size: 24px;
  color: #fce38a;
  font-weight: 700;
  text-transform: uppercase;
}

.map__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 15px auto 0;

  background-color: #fce38a;
}

.map__title a {
  color: inherit;
  text-decoration: none;
}

.map__title a:hover {
  text-decoration: underline;
}




@media (max-width: 1230px) {

  /* Intro */
  .intro__suptitle {
      font-size: 52px;
  }

  .intro__title {
      font-size: 120px;
  }

  /* Reviews */
  .reviews__text {
      font-size: 20px;
  }
}

@media (max-width: 990px) {

  /* Intro */
  .intro__suptitle {
      font-size: 32px;
  }

  .intro__title {
      font-size: 80px;
  }

  /* Stat */
  .stat {
     justify-content: center;
  }

  .stat__item {
      flex: none;
      width: 33.33333%;
      padding-top: 30px;
      padding-bottom: 30px;

      border: 0;
  }

  .stat__item:last-child {
      border-right: 0;
  }

  /* Services */
  .services__item {
      width: 50%;
      padding-bottom: 0;
  }

  .services__item--border {
      border-bottom: 0;
  }

  /* Reviews */
  .reviews .slick-slider {
      padding: 0 60px;
  }

  .reviews__photo {
      width: 150px;
      height: 150px;
  }

  .reviews__item {
      padding-left: 175px;
  }
}

@media (max-width: 770px) {

  /* Intro */
  .intro {
      min-height: 650px;
  }


  /* Header */
  .header {
      padding: 10px 0;
  }

  /* Nav */
  .nav {
      display: none;
      width: 100%;

      position: absolute;
      top: 100%;
      left: 0;

      background-color: #333;
  }

  .nav.active {
      display: block;
  }

  .nav__link {
      display: block;
      margin: 0;
      padding: 8px 20px;
  }

  .nav-toggle {
      display: block;
  }


  /* Section */
  .section {
      padding: 40px 0;
  }

  .section--devices {
      padding-bottom: 0;
  }


  /* Card */
  .card {
      margin-top: 50px;
      justify-content: center;
  }

  .card__item {
      width: 100%;
      max-width: 410px;
      margin-bottom: 30px;

  padding: 5px 5px 5px 5px;
  }

  .card__item:last-child {
      margin-bottom: 0;
  }


  /* Slider */
  .slider__text {
      display: none;
      font-size: 20px;
      text-align: center;
  }

  .slider__item.active:before {
      width: 50%;
  }

  /* Services */
  .services {
      justify-content: center;
  }

  .services__item {
      width: 100%;
      max-width: 400px;
      padding-left: 55px;
      padding-right: 0;
  }

  .services__icon {
      left: 0;
  }

  /* Reviews */
  .reviews__photo {
      position: static;
      margin: 0 auto 20px;
  }

  .reviews__item {
      padding-left: 0;
  }

  .reviews__text {
      font-size: 16px;
  }

  .reviews__author {
      font-size: 20px;
  }

  /* Works */
  .works {
      flex-wrap: wrap;
  }

  .works__col {
      flex: none;
      width: 50%;
  }
}


@media (max-width: 575px) {

  /* Intro */
  .intro__suptitle {
      font-size: 22px;
  }

  .intro__title {
      font-size: 40px;
  }

  .intro__title__my {
      font-size: 30px;
  }

  .intro__title__my__2 {
      font-size: 30px;
  }

  .section__title__my__2 {
      font-size: 20px;
      text-align: center;
  }

  .section__title__my__3 {
      font-size: 20px;
      text-align: center;
  }

  .works__title__my {
      font-size: 9px;
  }
  /* Section */

  .card__text {
      font-size: 10px;
  }

  .section__suptitle {
      font-size: 20px;
  }

  .section__suptitle__my__2 {
      font-size: 16px;
  }

  .section__suptitle__my {
      font-size: 16px;
  }

  .section__suptitle{
      font-size: 12px;
  }


  .section__title {
      font-size: 24px;
  }

  .section__title__my {
      font-size: 30px;
      text-align: center;
  }

  .section__title:after {
      margin: 20px auto;
  }

  /* Stat */
  .stat__item {
      width: 100%;

      border-bottom: 1px solid #333;
  }

  .stat__item:last-child {
      border-bottom: 0;
  }

  .stat__count {
      font-size: 52px;
  }

  /* Reviews */
  .reviews .slick-slider {
      padding: 0;
  }

  .reviews__item {
      padding-left: 10%;
      padding-right: 10%;
  }

  .slick-arrow {
      top: 18%;
  }

  /* Works */
  .works__col {
      width: 100%;
  }


  /* Clients */
  .clients__photo {
      position: static;
  }

  .clients__item {
      padding-left: 0;
      text-align: center;
  }

  .clients__text:before {
      margin: 15px auto;
  }


  /* Blogs */
  .blogs__img {
      width: 80px;
      height: 50px;
  }

  .blogs__title {
      font-size: 10px;
  }
}

body {
  margin: 0 !important;
}
